.header_Gestion_client{
    width: 25%;
    padding: 10px;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 5%;
}


input[type="search"]{
    width: 98%;
    height: 45px;
    outline: none;
    border: 1px solid  #49AD90;
    border-radius: 10px;
    padding-left: 20px;
 }
 ::placeholder{
    font-size: 20px;
    color:  #49AD90;
 }