<div class="container mt-2">
    <button type="button" class="btn" style="background-color:#49AD90;color:white;font-weight:bold;margin-left:-10%;" data-toggle="modal" data-target="#createClientModal">
        Créer un compte client
    </button>
    <div class="modal fade" id="createClientModal"  tabindex="-1" role="dialog" aria-labelledby="createClientModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" >
                <div class="modal-header" style="border-bottom:2px solid #49AD90;">
                    <h5 class="modal-title" id="createClientModalLabel">Créer un compte client</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="nom">Nom</label>
                            <input type="text" class="form-control " id="nom" name="nom" required>
                        </div>
                        <div class="form-group">
                            <label for="prenom">Prénom</label>
                            <input type="text" class="form-control" id="prenom" name="prenom" required>
                        </div>
                        <div class="form-group">
                            <label for="numero_telephone">Numéro de téléphone</label>
                            <input type="text" class="form-control" id="numero_telephone" name="numero_telephone" required>
                        </div>
                        <div class="form-group">
                            <label for="credie">credie</label>
                            <input type="number" class="form-control" id="credie" name="credie" required>
                        </div>
                        <div class="form-group">
                            <label for="modepass_chiffre">Mot de passe</label>
                            <input type="password" class="form-control" id="modepass_chiffre" name="modepass_chiffre" required>
                        </div>
                        <button type="submit" class="btn" style="background-color:#49AD90;">Créer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><br>