<div class="container mt-3">
    <div class="modal fade" id="modifierCiteModal" tabindex="-1" role="dialog" aria-labelledby="modifierCiteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:1250px;margin-left:-70%;background-color:#29282D;color:white;">
                <div class="modal-header" style="border-bottom:2px solid #49AD90;color:#fff;">
                    <h5 class="modal-title" id="modifierCiteModalLabel">Modifier Cite</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="modifierCiteForm" method="post" action="" class="row" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="cite_id" name="cite_id" value="{{ cite.id }}">
                        <div class="col-3">
                            <div class="form-group mb-1">
                                <label for="nom_modifier">Nom</label>
                                <input type="text" class="form-control" id="nom_modifier" name="nom" value="{{ cite.nom }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="longitude_modifier">Longitude</label>
                                <input type="number" class="form-control" id="longitude_modifier" name="longitude" value="{{ cite.longitude }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="latitude_modifier">Latitude</label>
                                <input type="number" class="form-control" id="latitude_modifier" name="latitude" value="{{ cite.latitude }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="client_modifier">Client</label>
                                <select class="form-control" id="client_modifier" name="client" required>
                                    <option value="">Sélectionnez un client</option>
                                    {% for client in clients %}
                                        <option value="{{ client.id }}" {% if cite.client.id == client.id %}selected{% endif %}>{{ client.nom }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                        </div>
                        <div class="col-3">
                            
                            <div>
                                <label for="photo1_modifier">Photo 1</label>
                                <input type="file" id="photo1_modifier" name="photo1">
                            </div>
                            <div>
                                <label for="photo2_modifier">Photo 2</label>
                                <input type="file" id="photo2_modifier" name="photo2" src="images/1.jpeg">
                            </div>
                            <div class="form-group mb-1">
                                <label for="maillot_disponible">Maillot Disponible</label><br>
                                <input type="radio" id="maillot_disponible_true_modifier" name="maillot_disponible" value="True" {% if cite.maillot_disponible %}checked{% endif %}> True<br>
                                <input type="radio" id="maillot_disponible_false_modifier" name="maillot_disponible" value="False" {% if not cite.maillot_disponible %}checked{% endif %}> False
                            </div>
                            <div class="form-group mb-1">
                                <label for="sonorisation_disponible_true_modifier">Sonorisation Disponible</label><br>
                                <input type="radio" id="sonorisation_disponible_true_modifier" name="sonorisation_disponible" value="True" {% if cite.sonorisation_disponible %}checked{% endif %}> True<br>
                                <input type="radio" id="sonorisation_disponible_false_modifier" name="sonorisation_disponible" value="False" {% if not cite.sonorisation_disponible %}checked{% endif %}> False
                            </div>
                        </div>
                        <div class="col-3">
                            <div>
                                <label for="photo3_modifier">Photo 3</label>
                                <input type="file" id="photo3_modifier" name="photo3">
                            </div>
                            <div class="form-group mb-1">
                                <label for="lieu_modifier">Lieu</label>
                                <input type="text" class="form-control" id="lieu_modifier" name="lieu" value="{{ cite.lieu }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="Wilaye_modifier">Wilaye</label>
                                <select class="form-control" id="Wilaye_modifier" name="Wilaye" required>
                                    <option value="">Sélectionnez une wilaye</option>
                                    {% for wilaye in wilayes %}
                                        <option value="{{ wilaye.code_wilaye }}" {% if cite.wilaye.code_wilaye == wilaye.code_wilaye %}selected{% endif %}>{{ wilaye.nom_wilaye_fr }} - {{ wilaye.nom_wilaye_Ar }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            
                            <div class="form-group mb-1">
                                <label for="ballon_disponible">Ballon Disponible</label><br>
                                <input type="radio" id="ballon_disponible_true_modifier" name="ballon_disponible" value="True" {% if cite.ballon_disponible %}checked{% endif %}> True<br>
                                <input type="radio" id="ballon_disponible_false_modifier" name="ballon_disponible" value="False" {% if not cite.ballon_disponible %}checked{% endif %}> False
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group mb-1">
                                <label for="nombre_joueur_modifier">Nombre de Joueurs</label>
                                <input type="number" class="form-control" id="nombre_joueur_modifier" name="nombre_joueur" value="{{ cite.nombre_joueur }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="Moughataa_modifier">Moughataa</label>
                                <select class="form-control" id="Moughataa_modifier" name="Moughataa" required>
                                    <option value="">Sélectionnez une moughataa</option>
                                    {% for moughataa in moughataa %}
                                        <option value="{{ moughataa.id }}" {% if cite.moughataa.id == moughataa.id %}selected{% endif %}>{{ moughataa.nom_fr }} - {{ moughataa.nom_ar }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-1">
                                <label for="prix_par_heure_modifier">Prix par Heure</label>
                                <input type="number" class="form-control" id="prix_par_heure_modifier" name="prix_par_heure" value="{{ cite.prix_par_heure }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="eclairage_disponible">Éclairage Disponible</label><br>
                                <input type="radio" id="eclairage_disponible_true_modifier" name="eclairage_disponible" value="True" {% if cite.eclairage_disponible %}checked{% endif %}> True<br>
                                <input type="radio" id="eclairage_disponible_false_modifier" name="eclairage_disponible" value="False" {% if not cite.eclairage_disponible %}checked{% endif %}> False
                            </div>
                        </div>
                        <div class="modifier_cite mt-2 ml-3">
                            <button type="submit" class="btn" style="background-color:#49AD90;color:white;">Modifier</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 