<div class="container mt-3">
    <div class="modal fade" id="modifierCiteModal" tabindex="-1" role="dialog" aria-labelledby="modifierCiteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width:1250px;margin-left:-70%;color:black;font-weight:400;">
                <div class="modal-header" style="border-bottom:2px solid #49AD90;">
                    <h5 class="modal-title" id="modifierCiteModalLabel">Modifier Cite</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="modifierCiteForm" action="" method="post" class="row" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" id="terrain_id" name="terrain_id" value="{{ terrain.id }}">
                        <div class="col-3">
                            <div class="form-group mb-1">
                                <label for="nom_fr">Nom (Français)</label>
                                <input type="text" class="form-control" id="nom_fr_modifier" name="nom_fr" value="{{ terrain.nom_fr }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="nom_ar">Nom (Arabe)</label>
                                <input type="text" class="form-control" id="nom_ar_modifier" name="nom_ar" value="{{ terrain.nom_ar }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="lieu_fr">Lieu (Français)</label>
                                <input type="text" class="form-control" id="lieu_fr_modifier" name="lieu_fr" value="{{ terrain.lieu_fr }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="lieu_ar">Lieu (Arabe)</label>
                                <input type="text" class="form-control" id="lieu_ar_modifier" name="lieu_ar" value="{{ terrain.lieu_ar }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="longitude">Longitude</label>
                                <input type="number" step="0.000000000000001" class="form-control" id="longitude_modifier" name="longitude" value="{{ terrain.longitude }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="latitude">Latitude</label>
                                <input type="number" step="0.000000000000001" class="form-control" id="latitude_modifier" name="latitude" value="{{ terrain.latitude }}" required>
                            </div>
                           
                        </div>
                        
                        <div class="col-3">
                            <div class="form-group mb-1">
                                <label for="photo1">Photo 1</label>
                                <input type="file" class="form-control-file" id="photo1_modifier" name="photo1">
                            </div>
                            <div class="form-group mb-1">
                                <label for="photo2">Photo 2</label>
                                <input type="file" class="form-control-file" id="photo2_modifier" name="photo2">
                            </div>
                            <div class="form-group mb-1">
                                <label for="photo3">Photo 3</label>
                                <input type="file" class="form-control-file" id="photo3_modifier" name="photo3">
                            </div>
                            <div class="form-group mb-1">
                                <label for="nombre_joueur">Nombre de Joueurs</label>
                                <input type="number" class="form-control" id="nombre_joueur_modifier" name="nombre_joueur" value="{{ terrain.nombre_joueur }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="parking">Parking</label><br>
                                <input type="radio" id="parking_true_modifier" name="parking" value="True" {% if terrain.parking %}checked{% endif %}> Oui<br>
                                <input type="radio" id="parking_false_modifier" name="parking" value="False" {% if not terrain.parking %}checked{% endif %}> Non
                            </div>
                            <div class="form-group mb-1">
                                <label for="siffler">siffler</label><br>
                                <input type="radio" id="siffler_true_modifier" name="siffler" value="True" {% if terrain.siffler %}checked{% endif %}> Oui<br>
                                <input type="radio" id="siffler_false_modifier" name="siffler" value="False" {% if not terrain.siffler %}checked{% endif %}> Non
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group mb-1">
                                <label for="prix_par_heure">Prix par Heure</label>
                                <input type="number" class="form-control" id="prix_par_heure_modifier" name="prix_par_heure" value="{{ terrain.prix_par_heure }}" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="client">Client</label>
                                <input type="number" class="form-control" id="client_modifier" name="client" value="{{ terrain.client.numero_telephone }}" placeholder="téléphone du client" required>
                            </div>
                            <div class="form-group mb-1">
                                <label for="ballon_disponible">Ballon Disponible</label><br>
                                <input type="radio" id="ballon_disponible_true_modifier" name="ballon_disponible" value="True" {% if terrain.ballon_disponible %}checked{% endif %}> Oui<br>
                                <input type="radio" id="ballon_disponible_false_modifier" name="ballon_disponible" value="False" {% if not terrain.ballon_disponible %}checked{% endif %}> Non
                            </div>
                            <div class="form-group mb-1">
                                <label for="maillot_disponible">Maillot Disponible</label><br>
                                <input type="radio" id="maillot_disponible_true_modifier" name="maillot_disponible" value="True" {% if terrain.maillot_disponible %}checked{% endif %}> Oui<br>
                                <input type="radio" id="maillot_disponible_false_modifier" name="maillot_disponible" value="False" {% if not terrain.maillot_disponible %}checked{% endif %}> Non
                            </div>
                            <div class="form-group mb-1">
                                <label for="eclairage_disponible">Éclairage Disponible</label><br>
                                <input type="radio" id="eclairage_disponible_true_modifier" name="eclairage_disponible" value="True" {% if terrain.eclairage_disponible %}checked{% endif %}> Oui<br>
                                <input type="radio" id="eclairage_disponible_false_modifier" name="eclairage_disponible" value="False" {% if not terrain.eclairage_disponible %}checked{% endif %}> Non
                            </div>
                        </div>

                        <div class="col-3">
                            <div class="form-group mb-1">
                                <label for="heure_ouverture">Heure d'ouverture</label>
                                <input type="time" class="form-control" id="heure_ouverture" name="heure_ouverture" value="{{ terrain.heure_ouverture|default_if_none:'' }}">
                            </div>
                           

                            <div class="form-group mb-1">
                                <label for="heure_fermeture">Heure de fermeture</label>
                                <input type="time" id="heure_fermeture" class="form-control" name="heure_fermeture" value="{{ terrain.heure_fermeture|default_if_none:'' }}">

                            </div>
                            <div class="form-group mb-1">
                                <label for="Wilaye">Wilaye</label>
                                <select class="form-control" id="Wilaye_modifier" name="Wilaye" required>
                                    <option value="">Sélectionnez une wilaya</option>
                                    {% for wilaye in wilayes %}
                                        <option value="{{ wilaye.code_wilaye }}" {% if terrain.wilaye_id == wilaye.code_wilaye %}selected{% endif %}>{{ wilaye.nom_wilaye_fr }} - {{ wilaye.nom_wilaye_Ar }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-1">
                                <label for="Moughataa">Moughataa</label>
                                <select class="form-control" id="Moughataa_modifier" name="Moughataa" required>
                                    <option value="">Sélectionnez un moughataa</option>
                                    {% for moughataa in moughataa %}
                                        <option value="{{ moughataa.id }}" {% if terrain.moughataa_id == moughataa.id %}selected{% endif %}>{{ moughataa.nom_fr }} - {{ moughataa.nom_ar }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group mb-1">
                                <label for="eau">Eau</label><br>
                                <input type="radio" id="eau_true_modifier" name="eau" value="True" {% if terrain.eau %}checked{% endif %}> Oui<br>
                                <input type="radio" id="eau_false_modifier" name="eau" value="False" {% if not terrain.eau %}checked{% endif %}> Non
                            </div>
                            <div class="form-group mb-1">
                                <label for="gazon_artificiel">Gazon Artificiel</label><br>
                                <input type="radio" id="gazon_artificiel_true_modifier" name="gazon_artificiel" value="True" {% if terrain.gazon_artificiel %}checked{% endif %}> Oui<br>
                                <input type="radio" id="gazon_artificiel_false_modifier" name="gazon_artificiel" value="False" {% if not terrain.gazon_artificiel %}checked{% endif %}> Non
                            </div>
                            
                        </div>
                        <div class="Modifier_cite mt-2 ml-3">
                            <button class="btn" type="submit" style="background-color:#49AD90;color:white;">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>